@import "tailwindcss";

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.animate-gradient {
    background: linear-gradient(45deg, rgba(128, 0, 128, 0.1), rgba(0, 128, 255, 0.1), rgba(0, 255, 128, 0.1), rgba(255, 128, 0, 0.1));
    background-size: 300% 300%;
    animation: gradientAnimation 10s infinite linear;
}